html {
  background: #272727;
}
body {
  background-color: #000;
  width: 100%;
  color: #9b9b9c;
  font-family: 'Open Sans', sans-serif;
}
.top-nav-container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #000;
  width: 100%;
}
.top-nav-container:before,
.top-nav-container:after {
  content: '';
  display: table;
}
.top-nav-container:after {
  clear: both;
}
.top-nav-container img {
  width: 12%;
  float: left;
}
.top-nav-container #nav-links-container {
  width: 30%;
  float: right;
  display: inline-block;
}
.top-nav-container #nav-links-container #links-container .nav-link {
  display: inline-block;
}
.top-nav-container #nav-links-container #links-container .nav-link #settings-img {
  width: 6%;
}
.top-nav-container #nav-links-container #social-links-contianer {
  clear: right;
}
.top-nav-container #nav-links-container #social-links-contianer .social-link-img {
  width: 6%;
}
section#profile-bar-container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  background: #f0eeef;
  color: #040404;
  position: relative;
}
section#profile-bar-container:before,
section#profile-bar-container:after {
  content: '';
  display: table;
}
section#profile-bar-container:after {
  clear: both;
}
section#profile-bar-container #profile-img-container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
section#profile-bar-container #profile-img-container:before,
section#profile-bar-container #profile-img-container:after {
  content: '';
  display: table;
}
section#profile-bar-container #profile-img-container:after {
  clear: both;
}
section#profile-bar-container #profile-img-container #profile-img {
  background-image: url("http://s27.postimg.org/avvbg63jm/profile_img.jpg");
  padding-top: 60.09%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#profile-bar-container #profile-info-container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
section#profile-bar-container #profile-info-container:before,
section#profile-bar-container #profile-info-container:after {
  content: '';
  display: table;
}
section#profile-bar-container #profile-info-container:after {
  clear: both;
}
section#profile-bar-container #profile-info-container #profile-info-text-container {
  width: 100%;
  margin: 15% 0 0 31px;
}
section#profile-bar-container #profile-info-container #profile-info-text-container #profile-name {
  font-size: 2rem;
  font-weight: 300;
}
section#profile-bar-container #profile-info-container #profile-info-text-container #profile-job-title {
  font-size: 1rem;
  font-weight: 300;
  margin: -5px 0 2.5% 0;
}
section#profile-bar-container #profile-info-container #profile-info-text-container #profile-button-container {
  width: 100%;
}
section#profile-bar-container #profile-info-container #profile-info-text-container #profile-button-container img {
  width: 25%;
  max-width: 250px;
}
section#profile-bar-container #profile-views-container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
section#profile-bar-container #profile-views-container:before,
section#profile-bar-container #profile-views-container:after {
  content: '';
  display: table;
}
section#profile-bar-container #profile-views-container:after {
  clear: both;
}
section#profile-bar-container #profile-views-container #profile-view-info-container {
  border-left: 1px solid #cac9c9;
  border-right: 1px solid #cac9c9;
  font-size: 0.8rem;
  width: 90%;
  margin: 5% auto;
  padding: 0 2.5%;
}
section#profile-bar-container #profile-views-container #profile-view-info-container .profile-view-info {
  margin: 2.5% 5%;
  padding-bottom: 2.5%;
  border-bottom: 1px solid #cac9c9;
}
section#profile-bar-container #profile-views-container #profile-view-info-container .profile-view-info .profile-view-title {
  display: inline-block;
}
section#profile-bar-container #profile-views-container #profile-view-info-container .profile-view-info .profile-view-number {
  display: inline-block;
  float: right;
  color: #67ccd8;
  font-weight: 800;
}
section#profile-bar-container #edit-profile-container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
section#profile-bar-container #edit-profile-container:before,
section#profile-bar-container #edit-profile-container:after {
  content: '';
  display: table;
}
section#profile-bar-container #edit-profile-container:after {
  clear: both;
}
section#profile-bar-container #edit-profile-container #edit-profile {
  width: 100%;
  margin: 5% 5%;
}
section#profile-bar-container #edit-profile-container #edit-profile img {
  display: inline-block;
  width: 7%;
  margin-bottom: -2%;
}
section#profile-bar-container #edit-profile-container #edit-profile .edit-profile-text {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 800;
  color: #67ccd8;
}
section#main-media-conatiner {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #000;
}
section#main-media-conatiner:before,
section#main-media-conatiner:after {
  content: '';
  display: table;
}
section#main-media-conatiner:after {
  clear: both;
}
section#side-profile-nav-conatiner {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #1f1f1f;
}
section#side-profile-nav-conatiner:before,
section#side-profile-nav-conatiner:after {
  content: '';
  display: table;
}
section#side-profile-nav-conatiner:after {
  clear: both;
}
section#side-profile-nav-conatiner #profile-status-container {
  width: 100%;
}
section#side-profile-nav-conatiner #profile-status-container #profile-completedness-text {
  width: 100%;
  padding: 5%;
  border-bottom: 1px solid #2c2b2b;
  color: #fff;
}
section#side-profile-nav-conatiner #profile-status-container #profile-completedness-container {
  padding: 5%;
  border-bottom: 1px solid #2c2b2b;
  width: 100%;
}
section#side-profile-nav-conatiner #profile-status-container #profile-completedness-container img {
  width: 90%;
}
section#side-profile-nav-conatiner #profile-status-container #import-contacts-container {
  padding: 5%;
  border-bottom: 1px solid #2c2b2b;
  width: 100%;
}
section#side-profile-nav-conatiner #profile-status-container #import-contacts-container div {
  width: 100%;
}
section#side-profile-nav-conatiner #profile-status-container #import-contacts-container div img {
  display: inline-block;
  width: 17%;
}
section#side-profile-nav-conatiner #profile-status-container #import-contacts-container div #import-text {
  font-size: 0.8em;
  width: 70%;
  display: inline-block;
  margin: 0 0 0 5%;
}
section#side-profile-nav-conatiner #profile-status-container #import-contacts-container div #import-text span {
  display: inline-block;
  color: #67ccd8;
}
section#side-profile-nav-conatiner #bio-container {
  background-color: #2c2b2b;
}
section#side-profile-nav-conatiner #bio-container #bio-title {
  color: #fff;
}
section#side-profile-nav-conatiner #bio-container #bio-link a {
  color: #67ccd8;
  text-decoration: none;
}
section#side-profile-nav-conatiner #connections-contianer {
  width: 100%;
}
section#side-profile-nav-conatiner #connections-contianer h3 {
  color: #fff;
}
section#side-profile-nav-conatiner #connections-contianer h3 a {
  color: #67ccd8;
  text-decoration: none;
  margin-left: 3.4%;
  font-size: 80%;
}
section#side-profile-nav-conatiner #connections-contianer #connections-img-container {
  width: 100%;
  hieght: 81%;
}
section#side-profile-nav-conatiner #connections-contianer #connections-img-container img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
}
section#side-profile-nav-conatiner #connections-contianer #connections-img-container img:before,
section#side-profile-nav-conatiner #connections-contianer #connections-img-container img:after {
  content: '';
  display: table;
}
section#side-profile-nav-conatiner #connections-contianer #connections-img-container img:after {
  clear: both;
}
section#side-profile-nav-conatiner #contacts-container {
  width: 100%;
}
section#side-profile-nav-conatiner #contacts-container #contacts-title {
  margin-top: 20%;
  color: #fff;
  width: 100%;
}
section#media-conatiner {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #000;
}
section#media-conatiner:before,
section#media-conatiner:after {
  content: '';
  display: table;
}
section#media-conatiner:after {
  clear: both;
}
section#media-conatiner #media-title-container {
  width: 100%;
  display: inline-block;
}
section#media-conatiner #media-title-container #media-title {
  color: #fff;
  text-align: center;
}
section#media-conatiner #media-title-container img {
  width: 3.4%;
  float: right;
}
section#media-conatiner #media-featured-work-container {
  width: 100%;
  text-align: center;
}
section#media-conatiner #media-featured-work-container #media-featured-image-container {
  width: 100%;
}
section#media-conatiner #media-featured-work-container #media-featured-image-container #media-featured-img {
  background-image: url("http://s27.postimg.org/459s9ma2a/featured_work_pacificrim.jpg");
  padding-top: 36.09%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#media-conatiner #media-featured-work-container #media-featured-image-title-container {
  color: #acacac;
  padding-bottom: 2rem;
}
section#media-conatiner #media-featured-work-container #media-featured-image-title-container #FW-title {
  padding: 1.25rem 0;
  font-size: 0.8rem;
}
section#media-conatiner #media-featured-work-container #media-featured-image-title-container #FW-name {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 300;
}
section#media-conatiner #media-featured-work-container #media-featured-image-title-container #FW-position {
  font-size: 0.8rem;
}
section#media-conatiner #media-featured-work-container #media-featured-image-title-container #FW-project {
  font-size: 0.8rem;
  color: #67ccd8;
}
section#media-conatiner #media-items-conatiner {
  width: 100%;
  border-bottom: 1px solid #333437;
}
section#media-conatiner #media-items-conatiner .MI-container {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 0 2rem 0;
}
section#media-conatiner #media-items-conatiner .MI-container:before,
section#media-conatiner #media-items-conatiner .MI-container:after {
  content: '';
  display: table;
}
section#media-conatiner #media-items-conatiner .MI-container:after {
  clear: both;
}
section#media-conatiner #media-items-conatiner .MI-container #MI-img-1 {
  background-image: url("http://s27.postimg.org/fcnoeuhrm/featured_work_sub_zerodarkthirty.jpg");
  padding-top: 52.7%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#media-conatiner #media-items-conatiner .MI-container #MI-img-2 {
  background-image: url("http://s27.postimg.org/gu42tag6q/featured_work_sub_downtownabby.jpgs");
  padding-top: 52.7%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#media-conatiner #media-items-conatiner .MI-container #MI-img-3 {
  background-image: url("http://s27.postimg.org/celno13si/featured_work_sub_romanticmovie.jpg");
  padding-top: 52.7%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#media-conatiner #media-items-conatiner .MI-container #MI-img-4 {
  background-image: url("http://s27.postimg.org/m491kl0fm/featured_work_sub_princecaspian.jpg");
  padding-top: 52.7%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#media-conatiner #media-items-conatiner .MI-container #MI-img-5 {
  background-image: url("http://s27.postimg.org/ahoxjgd4i/featured_work_sub_americanpie.jpg");
  padding-top: 52.7%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#media-conatiner #media-items-conatiner .MI-container #MI-img-6 {
  background-image: url("http://s27.postimg.org/debyjqiya/featured_work_sub_americanganster.jpg");
  padding-top: 52.7%;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
section#media-conatiner #media-items-conatiner .MI-container .MI-img-desc-container {
  padding-left: 1rem;
  color: #acacac;
}
section#media-conatiner #media-items-conatiner .MI-container .MI-img-title {
  color: #fff;
  padding-top: 1rem;
  font-size: 0.8rem;
}
section#media-conatiner #media-items-conatiner .MI-container .MI-img-position {
  font-size: 0.8rem;
}
section#media-conatiner #media-items-conatiner .MI-container .MI-img-project {
  color: #67ccd8;
  font-size: 0.8rem;
}
section#media-conatiner .showall-container {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #1f1f1f;
}
section#media-conatiner .showall-container #showall-title {
  padding: 1rem 0;
  color: #67ccd8;
}
section#media-conatiner #projects-container {
  width: 100%;
}
section#media-conatiner #projects-container #projects-title-container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333437;
}
section#media-conatiner #projects-container #projects-title-container #project-title {
  color: #fff;
  padding: 2rem 0;
  font-weight: 300;
  font-size: 1.8rem;
}
section#media-conatiner #projects-container .project-container {
  padding: 1.5rem 0;
  width: 100%;
  border-bottom: 1px solid #333437;
  display: inline-block;
  font-size: 0.8rem;
}
section#media-conatiner #projects-container .project-container .project-text-container .project-text {
  padding-left: 1rem;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
section#media-conatiner #projects-container .project-container .project-text-container .project-text .project-highlight {
  color: #67ccd8;
}
section#media-conatiner #projects-container .project-container .project-text-container .project-text:first-child {
  margin-left: auto;
}
section#media-conatiner #projects-container .project-container .project-text-container .project-text:last-child {
  margin-right: auto;
}
section#media-conatiner #projects-container .project-container .project-text-container .ext-project-highlight {
  padding-left: 1rem;
  color: #67ccd8;
}
section#media-conatiner #projects-container .project-container .project-year {
  float: right;
  margin-top: -1.5rem;
  padding-right: 1rem;
  color: #fff;
  font-size: 1em;
}
section#media-conatiner #projects-container .project-container .project-year-with-gal {
  float: right;
  margin-top: -1rem;
  padding-right: 1rem;
  color: #fff;
  font-size: 1em;
}
section#media-conatiner .showall-container {
  font-size: 0.8rem;
  color: #67ccd8;
}
section#media-conatiner .showall-container .showall-title {
  padding: 1rem 0;
}
