section#profile-bar-container
	span(4/4)
	width 100%
	background #f0eeef
	color #040404
	position relative
	#profile-img-container
		span(1/4)
		#profile-img
			background-image url(http://s27.postimg.org/avvbg63jm/profile_img.jpg)
			padding-top 60.09%;
			background-size cover
			background-position center center
			width 100%
	#profile-info-container
		span(1/4)
		#profile-info-text-container
			width 100%
			margin 15% 0 0 31px
			#profile-name
				font-size 2rem
				font-weight 300
			#profile-job-title
				font-size 1rem
				font-weight 300
				margin -5px 0 2.5% 0
			#profile-button-container
				width 100%
				img
					width 25%
					max-width 250px
	#profile-views-container
		span(1/4)
		#profile-view-info-container
			border-left 1px solid #cac9c9
			border-right 1px solid #cac9c9
			font-size .8rem
			width 90%
			margin 5% auto
			padding 0 2.5% 
			.profile-view-info
				margin 2.5% 5%
				padding-bottom 2.5%
				border-bottom 1px solid #cac9c9
				.profile-view-title
					display inline-block
				.profile-view-number
					display inline-block
					float right
					color #67ccd8
					font-weight 800
	#edit-profile-container
		span(1/4)
		#edit-profile
			width 100%
			margin 5% 5%
			img
				display inline-block
				width 7%
				margin-bottom -2%
			.edit-profile-text
				display inline-block
				font-size .8rem
				font-weight 800
				color #67ccd8
